.top-header-main-container {
  height: 40px; 
  border-bottom: 1px solid gray;
  padding: 0 80px;
  margin-top: 8px;
}

.top-header-main-container .top-header-inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-header-main-container .tickets {
  width: calc(100% - 40%);
  display: flex;
  justify-content: space-between;
}

.top-header-main-container .options {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 992px) {
  .top-header-main-container .top-header-inner-container {
    max-width: 100vw;
  }
  
  .top-header-main-container .tickets {
    display: none;
  }
}