.navbar-main-container {
  padding: 0 80px;
}

/* .navbar-main-container .navbar {
  align-items: center;
} */

/* .navbar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  height: 71px;
} */