.dashboard-main-container {
  /* border: 1px solid black; */
  height: calc(99vh - 120px);
  padding: 0 80px;
}
.dashboard-main-container .dashboard {
  background: linear-gradient(180deg, #F8FAFD 0%, rgba(248, 250, 253, 0) 50%);

}

.dashboard-main-container .dashboard .highlights {
  margin-top: 10px;
}

.dashboard-main-container .dashboard .list {
  margin-top: 40px;
}