.main-container .inner-container .main {
  height: 100%;
  width: 100%;
}

.coin-img {
  width: 30px;
  height: 30px;
}

.ant-table .ant-table-thead .ant-table-cell,
.ant-table .ant-table-thead .ant-table-cell {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px;
  text-align: center;
}

.ant-table .ant-table-tbody .ant-table-cell {
  text-align: center;

}

/* .main-container .inner-container .ant-table-wrapper {
  height: 100vh;
}

.main-container .main .ant-table .ant-table-body {
  max-height: 70vh;
  height: 100%;
}


.ant-table .ant-table-thead .ant-table-cell{
  background: #ededed;
}


.ant-table .ant-table-cell  {
  text-align: center;
} */
