.crypto-main-container {
  padding: 10px 60px;
}

.crypto-main-container .crypto-details .crypto-image img {
  margin-top: 5px;
}

.crypto-main-container .crypto-details .crypto-name h1 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
}

.crypto-main-container .crypto-details .crypto-base h4 {
  margin-top: 25px;
  
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
}

.crypto-main-container .crypto-price .left-container .box {
  height: 100vh;
  width: 100%;
  background-color: aliceblue;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}



@media (max-width: 992px) {
  .crypto-main-container {
    padding: 10px 20px;
    height: calc(99vh - 120px);
  }
}